@import "variables";
@import "mixins";
@import "loader";
@import "like-button";
@import "footer";


/* Small reset */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $main-font;
    font-weight: 400;
}
.px-3 {
    padding: 0 5%;
    width: 100%;
    padding-bottom: 24px;
}

.btn-command {
    @include btn-command;
}

.btn-secondary {
    @include btn-secondary;
}

.box-shadow {
    box-shadow: $main-box-shadow;
}

#main-header {
    box-shadow: 0 1px 5px rgba(2, 2, 2, 0.2);
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: #fff;

    .logo-container {
        padding: 14px 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 150px;
        }
    }
}

#prev-nav {
    display: inline-flex;
    position: absolute;
    top: 18px;
    left: 25px;

    a>i {
        color: $dark-gray;
    }
}

#test{
    background-color: rgba(0,0,0, 0.75);
    position:fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 100;
}